html {
      background-color: deepskyblue;
      height: 100vh;
}

body {
      height: 100vh;
      margin: 0;
}

.main-container {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
}

.link-1 {
  color: crimson;
}

.link-2 {
  color: darkred;
}

.link-3 {
  color: firebrick;
}

.author {
  color: tomato;
  font-weight: bold;
}
